body {
  margin: 0;
  padding: 0;
  background-image: url('images/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  /*  width: 500px;*/
  color: white;
  font-family: 'Domine', serif;
  font-size: 24px;
}

.left {
  color: white;
  display: inline-block;
  position: absolute;
  width: 180px;
  height: 75px;
  text-align: left;
}

.left img {
  display: inline-block;
  top: 10px;
  margin-top: 10px;
  margin-left: 40px;
}

.left div {
  text-align: center;
  margin-left: 30px;
  height: 25px;
  width: 70px;
}

.mid {
  color: white;
  width: 500px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  display: inline-block;
  text-align: center;
  padding: 0;
}

.navbar li {
  display: inline-block;
  padding: 5px;
}

.navbar li a {
  color: white;
  text-decoration: none;
}

.navbar li a:hover {
  text-decoration: underline;
  color: #adacaa;
}
.navbar li span:hover{
  text-decoration: underline;
  color: black;
}
.right {
  color: white;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 10px;
}

.btn {
  font-family: 'Domine', serif;
  font-size: 22px;
  color: white;
  margin: 5px;
  background-color: black;
  padding: 4px 14px;
  border: 2px solid #adacaa;
  border-radius: 10px;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 40px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 70px;
  text-shadow: 2px 2px black;
}
